* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  background: "green";
}
.canvas {
  height: 500px;
  width: 500px;
  background: rgb(223, 228, 232);

  display: block;
}
.select-box {
  background-color: transparent;
  border: 0px;
  position: relative;
}
.all-grids {
  position: relative;
  border: 2px solid black;
  width: fit-content;
}
.select-grid {
  position: absolute;
  opacity: 50%;
}
.dialog {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 2px solid gray;
}
.selection-circle {
  border-radius: 50%;
  border: 8px solid;
  border-image: conic-gradient(to right, white, black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 200%;
  width: 200%;
  pointer-events: none;
}
